<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Weather</title>
</head>

<body>
    <h1>My Weather</h1>

    <form action="{{ url_for('get_weather') }}" method="post">
        <select name="city_name" id="">
            <option value="">Choose an option below...</option>
            {% for city in capital_city %}
            <option value="{{ city }}">{{ city }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Get Weather">
    </form>

</body>

</html>