<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Results</title>
</head>

<body>
    <header>
        <a href="{{ url_for('home') }}">
            << back</a>
    </header>
    <h1>Today's Weather</h1>
    <h3>My City: {{ results['city']['name'] }}</h3>
    <p>Temp max: {{ results['list'][0]['main']['temp_max'] }}</p>
    <p>Humidity: {{ results['list'][0]['main']['humidity'] }}</p>
    <p>Description: {{ results['list'][0]['weather'][0]['description'] }}</p>
    <p>Wind Gust: {{ results['list'][0]['wind']['gust'] }}</p>
    <p>Wind Speed: {{ results['list'][0]['wind']['speed'] }}</p>

</body>

</html>